<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023-present GLS Croatia. All rights reserved.
 * See LICENSE.txt for license details.
 *
 * @author Inchoo (https://inchoo.net)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="GLSCroatia_Shipping::shipping" title="GLS" translate="title" sortOrder="75">
                    <resource id="GLSCroatia_Shipping::shipping_account" title="Account" translate="title" sortOrder="10"/>
                    <resource id="GLSCroatia_Shipping::shipping_address" title="Address" translate="title" sortOrder="20"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
