<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="GLSCroatia\Shipping\Model\Config\Source\Method" type="GLSCroatia\Shipping\Model\Config\Source\CarrierGeneric">
        <arguments>
            <argument name="type" xsi:type="string">method</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="gls_data" type="GLSCroatia\Shipping\Plugin\Checkout\Model\ShippingInformationManagementPlugin"/>
    </type>
</config>
