<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023-present GLS Croatia. All rights reserved.
 * See LICENSE.txt for license details.
 *
 * @author Inchoo (https://inchoo.net)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="GLSCroatia_Shipping">
        <sequence>
            <module name="Magento_Checkout"/>
        </sequence>
    </module>
</config>
