<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2023-present GLS Croatia. All rights reserved.
 * See LICENSE.txt for license details.
 *
 * @author Inchoo (https://inchoo.net)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Order\Pdf\Shipment">
        <plugin name="gls_parcel_shop_delivery" type="GLSCroatia\Shipping\Plugin\Sales\Controller\Adminhtml\Shipment\PrintActionPlugin"/>
    </type>
    <type name="Magento\Shipping\Model\Shipping\LabelGenerator">
        <plugin name="gls_shipping" type="GLSCroatia\Shipping\Plugin\Shipping\Model\Shipping\LabelGeneratorPlugin"/>
    </type>
    <type name="Magento\Shipping\Block\Adminhtml\Order\Packaging">
        <plugin name="gls_shipping" type="GLSCroatia\Shipping\Plugin\Shipping\Block\Adminhtml\Order\PackagingPlugin"/>
    </type>
    <type name="Magento\Sales\Block\Adminhtml\Order\AbstractOrder">
        <plugin name="gls_shipping_parcel_status" type="GLSCroatia\Shipping\Plugin\Shipping\Block\Adminhtml\View\ParcelStatusPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Grid\Collection">
        <plugin name="gls_shipping" type="GLSCroatia\Shipping\Plugin\Sales\Model\ResourceModel\Order\Shipment\Grid\CollectionPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Shipment\Order\Grid\Collection">
        <plugin name="gls_shipping" type="GLSCroatia\Shipping\Plugin\Sales\Model\ResourceModel\Order\Shipment\Grid\CollectionPlugin"/>
    </type>
    <type name="Magento\Sales\Model\ResourceModel\Order\Grid\Collection">
        <plugin name="gls_shipping" type="GLSCroatia\Shipping\Plugin\Sales\Model\ResourceModel\Order\Grid\CollectionPlugin"/>
    </type>
</config>
