<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="carriers">
            <group id="gls" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>GLS</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="client_id" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1">
                    <label>Client ID</label>
                    <comment>This is required for API usage.</comment>
                </field>
                <field id="api_mode" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>API Mode</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\Mode</source_model>
                </field>
                <field id="api_username" translate="label" type="text" sortOrder="35" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>API Username</label>
                </field>
                <field id="api_password" translate="label" type="obscure" sortOrder="40" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>API Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                </field>
                <field id="api_country" translate="label" type="select" sortOrder="45" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>API Country</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\Country</source_model>
                </field>
                <field id="debug" translate="label comment" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Debug</label>
                    <comment>In production mode, debug logging needs to be enabled.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Title</label>
                </field>
                <field id="max_package_weight" translate="label" type="text" sortOrder="70" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Maximum Package Weight</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="80" showInDefault="1" showInWebsite="1">
                    <label>Sort Order</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="allowed_methods" translate="label" type="multiselect" sortOrder="500" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Allowed Methods</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\Method</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="standard_method_name" translate="label" type="text" sortOrder="500" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delivery to Address Method Name</label>
                </field>
                <field id="standard_method_price" translate="label" type="text" sortOrder="510" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Delivery to Address Method Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="standard_sallowspecific" translate="label" type="select" sortOrder="520" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Delivery to Address Applicable Countries</label>
                    <frontend_class>shipping-applicable-country</frontend_class>
                    <source_model>Magento\Shipping\Model\Config\Source\Allspecificcountries</source_model>
                </field>
                <field id="standard_specificcountry" translate="label" type="multiselect" sortOrder="521" showInDefault="1" showInWebsite="1">
                    <label>Delivery to Address Specific Countries</label>
                    <source_model>Magento\Directory\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="psd_method_name" translate="label" type="text" sortOrder="600" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Delivery to Parcel Location Method Name</label>
                </field>
                <field id="psd_method_price" translate="label" type="text" sortOrder="610" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Delivery to Parcel Location Method Price</label>
                    <validate>validate-number validate-zero-or-greater</validate>
                </field>
                <field id="psd_specificcountry" translate="label" type="multiselect" sortOrder="620" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Delivery to Parcel Location Specific Countries</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\Country</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="client_reference" translate="label" type="text" sortOrder="1000" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Client Reference</label>
                    <comment><![CDATA[Variables that can be used: {increment_id}.]]></comment>
                </field>
                <field id="printer_type" translate="label" type="select" sortOrder="1010" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Type of Printer</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\PrinterType</source_model>
                </field>
                <field id="print_position" translate="label" type="select" sortOrder="1020" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Print Position</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\PrintPosition</source_model>
                </field>
                <field id="guaranteed_24h" translate="label comment" type="select" sortOrder="1500" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Guaranteed 24h Service</label>
                    <comment>Not available in Serbia.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="express_delivery" translate="label" type="select" sortOrder="1510" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Express Delivery Service</label>
                    <source_model>GLSCroatia\Shipping\Model\Config\Source\ExpressDeliveryCode</source_model>
                </field>
                <field id="cs1" translate="label" type="select" sortOrder="1520" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Contact Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fds" translate="label" type="select" sortOrder="1530" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Flexible Delivery Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="fss" translate="label comment" type="select" sortOrder="1540" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Flexible Delivery SMS Service</label>
                    <comment><![CDATA[Not available without Flexible Delivery Service.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sm1" translate="label" type="select" sortOrder="1550" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>SMS Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="sm1_text" translate="label comment" type="text" sortOrder="1551" showInDefault="1" showInWebsite="1">
                    <label>SMS Service Text</label>
                    <validate>validate-length maximum-length-130</validate>
                    <comment><![CDATA[Maximum text length is 130. Variables that can be used in the text of the SMS: #ParcelNr#, #COD#, #PickupDate#, #From_Name#, #ClientRef#.]]></comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="sm1">1</field>
                    </depends>
                </field>
                <field id="sm2" translate="label" type="select" sortOrder="1560" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>SMS Pre-advice Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="aos" translate="label" type="select" sortOrder="1570" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Addressee Only Service</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
<!--                <field id="ins" translate="label" type="select" sortOrder="1580" showInDefault="1" showInWebsite="1" canRestore="1">-->
<!--                    <label>Insurance Service</label>-->
<!--                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>-->
<!--                </field>-->
            </group>
        </section>
    </system>
</config>
